/*  reset styles */
*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow-x: hidden;
    
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600&display=swap');
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Black.ttf);    
    font-weight: 900;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-BlackItalic.ttf);    
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Bold.ttf);    
    font-weight: 700;    
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-BoldItalic.ttf);    
    font-weight: 700; 
    font-style: italic;   
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Regular.ttf);    
    font-weight: 400; 
    font-style: normal;   
}
@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/Georgia.ttf);    
    font-weight: 400; 
    font-style: normal;   
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-Light.ttf);    
    font-weight: 300; 
    font-style: normal;   
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../assets/fonts/SourceSansPro-ExtraLightItalic.ttf);    
    font-weight: 200; 
    font-style: italic;   
}



/* ------------ */
.content{    
    padding-left: 90px;
    padding-right:90px;    
    display: flex;    
    flex-direction: column;    
    margin: 0 auto;
    max-width: 1280px; 
    position: relative;    
}
 header,main {
    background-color:  #FFFFFF;;
 }
.logo{
    display: flex;
    padding-top: 50px;
    align-items: center;
}
.logo h1{
    font: normal 900 42px/60px Source Sans Pro; 
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #585858;
}
.header_icon{
    width: 60px;
    height: 60px;
    display: flex;
}
.header_icon img{
    width: 100%;
}
.shop_icon_wrap{
    display: flex;
    position: fixed;
    right: 0;
    top: 33px;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.shop_img{
    width: 80px;
    height: 80px;
    display: flex;
    z-index: 3;
}
.shop_img img{
    width: 100%;    
}
.shop_total_value{
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    left: -85px;
    top: 40px;
    background: #585858;
    border-radius: 100px;
    z-index: 4;
    align-items: center;
    justify-content: center;    
}
.shop_total_header {
    font: normal 400 14px/18px Source Sans Pro;     
    color: #FFFFFF;
}
.banner{
    padding-top: 67px;
    width: 1100px;
    display: flex;
}
.banner img{    
    width: 1100px;
    display: flex;
}
/*  books */
.book_content_wrap{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
}
.book_card{
    display: flex;
    width: 350px;
    height: 200px;    
}
.book_img{
    display: flex;
    height: 200px;
    width: 150px;
    padding-right: 5px;   
}
.book_img img{        
    display: none;    
}

.book_info{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 5px;   
    
}
.book_info h4{
    height: 65px;
    width: 183px;
    padding-top: 7px;
    font: normal 400 17px/18px Source Sans Pro;     
    display: flex;
    text-align: left;      
    color: #FFFFFF;
    letter-spacing: 0.04em;
}
.book_info h3{
    height: 40px;
    width: 183px;    
    font: normal 400 16px/20px Georgia; 
    display: flex;
    align-items: flex-end;
    text-align: left;      
    color: #FFFFFF;
    letter-spacing: 0.04em;
}
.book_count{
    display: flex;
    gap: 5px;
    width: 183px;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
.book_count h5{     
    font: normal 900 16px/28px Source Sans Pro; 
    display: flex;
    text-align: center;     
    color: #FFFFFF;
}
.book_btn{
    display: flex;
    gap: 10px;   
}
.show_more,.add_to_cart{
    width: 90px;
    height: 35px;
    border: 1px solid #F5F5F5;
    background: transparent;
    font: normal 300 14px/0px Source Sans Pro; 
    color: #F5F5F5;
    text-align: center;
    cursor: pointer;
}
.show_more:hover,.add_to_cart:hover{
    border: 1px solid #F5F5F5;
    background: rgba(255, 255, 255, 0.7);
    font: normal 300 14px/0px Source Sans Pro; 
    color: #585858;
    text-align: center;
    cursor: pointer;
}
.book_img:hover> img{
    display: block;
    cursor: pointer;    
    transform: scale(1.2);
    border:1px solid #585858;    
}

#one > .book_img{    
    background: linear-gradient(0deg, rgba(242, 132, 158, 0.6), rgba(242, 132, 158, 0.6)),url(../../assets/images/good_parts.png);
    background-size:cover;
    background-repeat: no-repeat;    
}
#one{
    background: linear-gradient(0deg, rgba(242, 132, 158, 0.6), rgba(242, 132, 158, 0.6));
}
#two > .book_img{    
    background:linear-gradient(0deg, rgba(126, 202, 246, 0.6), rgba(126, 202, 246, 0.6)),url(../../assets/images/effective_js.png);
    background-size:cover;
    background-repeat: no-repeat;    
}
#two,#two > .book_info{
    background: linear-gradient(0deg, rgba(126, 202, 246, 0.6), rgba(126, 202, 246, 0.6));
}

#three > .book_img{
    background:  linear-gradient(0deg, rgba(123, 208, 193, 0.6), rgba(123, 208, 193, 0.6)),url(../../assets/images/definitive_guide.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#three,#three>.book_info{
    background:  linear-gradient(0deg, rgba(123, 208, 193, 0.6), rgba(123, 208, 193, 0.6));
}

#four > .book_img{
    background:  linear-gradient(0deg, rgba(199, 91, 155, 0.6), rgba(199, 91, 155, 0.6)),url(../../assets/images/js_application.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#four{
    background:  linear-gradient(0deg, rgba(199, 91, 155, 0.6), rgba(199, 91, 155, 0.6));
}

#five > .book_img{
    background: linear-gradient(0deg, rgba(174, 133, 202, 0.6), rgba(174, 133, 202, 0.6)),url(../../assets/images/design_patterns.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#five{
    background:  rgba(174, 133, 202, 0.6);
}
#six > .book_img{
    background:   linear-gradient(0deg, rgba(132, 153, 231, 0.6), rgba(132, 153, 231, 0.6)),url(../../assets/images/type_script.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#six{
    background: rgba(132, 153, 231, 0.6);
}
#seven > .book_img{
    background:  linear-gradient(0deg, rgba(242, 132, 158, 0.6), rgba(242, 132, 158, 0.6)),url(../../assets/images/react.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#seven{
    background:  linear-gradient(0deg, rgba(242, 132, 158, 0.6), rgba(242, 132, 158, 0.6));
}
#eight > .book_img{
    background: linear-gradient(0deg, rgba(126, 202, 246, 0.6), rgba(126, 202, 246, 0.6)),url(../../assets/images/node.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#eight{
    background: linear-gradient(0deg, rgba(126, 202, 246, 0.6), rgba(126, 202, 246, 0.6));
}
#eight >.book_info{
    background: linear-gradient(0deg, rgba(126, 202, 246, 0.6), rgba(126, 202, 246, 0.6));
}
#nine > .book_img{
    background: linear-gradient(0deg, rgba(123, 208, 193, 0.6), rgba(123, 208, 193, 0.6)),url(../../assets/images/get_started.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#nine{
    background:  linear-gradient(0deg, rgba(123, 208, 193, 0.6), rgba(123, 208, 193, 0.6));
}
#nine >.book_info{
    background:  linear-gradient(0deg, rgba(123, 208, 193, 0.6), rgba(123, 208, 193, 0.6));
}
#ten > .book_img{
    background:  linear-gradient(0deg, rgba(199, 91, 155, 0.4), rgba(199, 91, 155, 0.4)),url(../../assets/images/ninja.png);
    background-size:cover;
    background-repeat: no-repeat;  
}
#ten,#ten>.book_info{
    background:  linear-gradient(0deg, rgba(199, 91, 155, 0.4), rgba(199, 91, 155, 0.4));
}
#eight >.book_info h3{      
    font: normal 400 14px/18px Georgia;     
}
.cart_wrap{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 400px;
    background: #585858;
    position: fixed;
    top: 140px;
    right: -100%;
    transition: all 1s ease;
}
div.cart_wrap.clicked{    
    right: 20px;
    transition: all 1s ease;
}

footer{
    background-color: #F6F6F6;
}
.contact{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.contact h2{     
    font: normal 900 24px/30px Source Sans Pro;
    letter-spacing: 0.06em; 
    color: #585858;    
}
.contact_info{
    display: flex;
    column-gap: 90px; 
    padding-top: 25px;   
}
.contact_info img{
    width: 24px;
}
.mail,.phone,.location{
    display: flex;
    gap: 13px;
    min-width: 310px;
}
.contact h3{  
    font: normal 300 16px/18px Source Sans Pro;    
    color: #585858;    
}
.title_cart_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart_title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C9C9C9;
    column-gap: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart_title img{
    width: 30px;
}
.cart_title h3{
    font: normal 400 16px/20px Source Sans Pro;
    letter-spacing: 0.04em;   
    color: #585858;   
}
.sub_title{
    display: flex;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.sub_title h3{
    font: normal 400 14px/18px Source Sans Pro;
    letter-spacing: 0.04em;   
    color: #FFFFFF;   
}
.sub_title_item{
    width: 165px;
}
.sub_title_price{
    width: 45px;
}
.sub_title_quantity{
    width: 60px;
}
.cart_body{
    display: flex;
    flex-direction: column;    
    height: 100%;    
    overflow: auto;
    position: relative;
    row-gap: 10px;
    background: #C9C9C9;
    align-items: center;
}
.cart_body::-webkit-scrollbar{
    width: 4px;   
    
}
.cart_body h3{
    font: italic 200 18px/20px Source Sans Pro;
    letter-spacing: 0.04em;   
    color: #FFFFFF; 
    text-align: center; 
    padding-top: 50px; 
}
.book_card_shop{
    display: flex;
    width: 270px;
    height: 90px;    
    background-color: #F6F6F6;    
    
}
.book_img_shop{
    display: flex;
    height: 90px;
    max-width: 70px;
}
.book_img_shop img{
    display: flex;
    max-height: 89px;    
}
.book_info_shop{
    width: 95px;
    padding-left: 5px;
}
.book_info_shop h4,.book_info_shop h3{
    font: normal 400 10px/12px Source Sans Pro;
    color: #585858;
    padding-top: 10px;
    text-align: left;
}

.book_count_shop{
    display: flex;
    width: 45px;   
    align-items: center; 
    justify-content: center;
    padding-left: 5px;
}
.book_count_shop h5{
    font: normal 700 12px/15px Source Sans Pro;
    letter-spacing: 0.03em;
    color: #585858;
}
.shop_btn{
    display: flex; 
    align-items: center;   
    justify-content: center;
    width: 60px;
    position: relative;
}
.card_shop_quantity{
    width: 35px;
    height: 20px;
    border: 1px solid #585858;
    border-radius: 5px;
}
.cross_shop{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 2px;
    display:flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    cursor: pointer; 
}
.cross_shop span{
    background-color: #585858;    
    height: 2px;
    width: 12px;
    display: block;
    margin: 2px;
     
}
.cross_shop > span{
    transform:translate(1px,-1px)rotate(45deg);
    transform-origin: left top;
}
.cross_shop > span ~ span{
    transform:translateY(-7.5px) translateX(-2.5px)rotate(-45deg); 
    transform-origin: right bottom;  
}
.footer_cart_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.footer_cart_subtotal{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer_cart_subtotal h3,.footer_cart_subtotal span{
    font: normal 400 14px/18px Source Sans Pro;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F6F6F6;
}
.confirm{
    width: 95px;
    height: 19px;
    border: 1px solid #F5F5F5;
    background: rgba(255, 255, 255, 0.7);
    font: normal 900 12px/15px Source Sans Pro; 
    color: #585858;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
/* ------------modal window------------ */

.modal_body{
    position: absolute;
    top: 0;
    height: 100vh;
    min-width: 100vw;  
    background: rgba(255, 255, 255, 0.7);    
    display: flex;
    justify-content: center;
    z-index: 4;
    
}
.book_wrap{
    display: flex;    
    align-items: center;
    background: rgba(88, 88, 88, 0.7); 
    position: relative;
    margin: 0 auto;
    top: 25%;
    width: 650px;
    height: 400px;
    gap: 20px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    position: absolute;    
}
.cover img {
    width: 260px;
    height: 300px;
    border-radius: 2px 20px 20px 2px;
    padding: 10px 10px 10px 0px; 
    z-index: 1; 
    background: #585858;   
    
} 
.title h3{
    margin-left: 100px;
    margin-right: 100px;    
    text-align: left;
    font:normal 300 20px/1.15em Source Sans Pro;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
}
.book{
    display: flex;
    align-items: center;
    cursor: pointer; 
    perspective: 1000px;           
}
.page-first {
    background-color: #585858;
    height: 300px;
    width: 260px;
    position: absolute;
    top: 0;
    /* border-color:#585858;
    border: 10px; */
    border-radius: 2px 20px 20px 2px;
    z-index: -1;
    transform: rotateX(20deg);
    
} 
.book:hover .cover{
    transform: rotateX(10deg) rotateY(-180deg);
}
.cover{
    z-index: 1;
    transition: all 3s;
    backface-visibility: hidden;
}
.back-cover{
    z-index: -2;
}
.cover,
.back-cover {
    display: inline-block;
    height: 300px;
    width: 260px;
    background:#585858;
    border-radius: 2px 20px 20px 2px;
    position: absolute;
    box-shadow: 1px 1px 10px #FFFFFF;
    transform: rotateX(20deg); 
    transform-origin: center left;    
}
.page,
.last-page{
    height: 280px;
    width: 250px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    z-index: -1;
    transform: rotateX(20deg);
    transform-origin: center left;     
}
.book:hover .page{
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}
.page:nth-child(2) {
    transition-duration: 3s;
}
.page:nth-child(3) {
    transition-duration: 2.6s;
}
.page:nth-child(4) {
    transition-duration: 2.2s;
}
.page:nth-child(5) {
    transition-duration: 1.8s;
}
.page:nth-child(6) {
    transition-duration: 1.4s;
}
.book:hover .page:nth-child(2) {
    transition-duration: 6s;
}
.book:hover .page:nth-child(3) {
    transition-duration: 5.6s;
}
.book:hover .page:nth-child(4) {
    transition-duration: 5.2s;
}
.book:hover .page:nth-child(5) {
    transition-duration: 4.8s;
}
.book:hover .page:nth-child(6) {
    transition-duration: 4.4s;
}
.last-page p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
    font:normal 400 14px/1.15em Source Sans Pro;
    letter-spacing: 0.06em;
    color: #151515;
    z-index: -1;
}

.cross{
    display: flex;
    align-items: center;    
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.cross span{
    position: absolute;
    width: 20px;    
    border: 1px solid #FFFFFF;
 }
.cross :first-child{
    transform: rotate(45deg);
}
.cross :last-child{
    transform: rotate(-45deg);
}